* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0;
  margin: 0;
}


.flex-container {
  display: inline-block;
  display: flex;
  flex-wrap: wrap;
  width: 96vw;
  margin: 0 auto;
 

}

.box {
  text-align: center;
  display: inline-block;
  height: 150px;
  width: 200px;
  background-color: rgb(255, 248, 154);
  margin: 15px;
  padding: 10px;
}



li {
  display: inline-block;
  margin: 10px;
  

  
}

li a {
  text-decoration: none;
  color: black;
}

nav {
  
  background-color: rgb(154, 220, 255)
}


/* register page */
.registerbox {
  margin: 0 auto;
  width: 20%;
  text-align: center;
  background-color: #3d3d3d;
  color: white;
  padding: 100px 0;
  position: relative;
  top: 200px;
  border-radius: 23px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

@media only screen and (max-width: 1050px) {
  .registerbox {

    width: 40%;
  
  }
}
@media only screen and (max-width: 545px) {
  .registerbox {

    width: 60%;
  
  }
}

.in {
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
}

.btn-reg{
  width: 30%;
  background-color: hsl(60, 4%, 78%);
  border: none;
  height: 30px;
}
.btn-reg:hover{
  background-color: rgb(231, 231, 223);
  cursor: pointer;
  
}

.reg-background {
  background-image: url("https://media1.giphy.com/media/3oFyDjw1xx3FjqVlio/giphy.gif?cid=ecf05e47qp3wj4b5326cyuey6n7y6kewdbjb2exxpfxurwd5&rid=giphy.gif&ct=g");
  background-size: cover;
  background-position: center;
  height: 100vh;
  overflow: hidden;
  


}

.App {
  background-color: rgb(255, 178, 166);
  height: 100vh;
  overflow: hidden;

}

